@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  
  body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes impact {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    60% {
      transform: translateY(20px);
      opacity: 1;
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .impact-animation {
    animation: impact 0.5s ease-out forwards, fadeOut 0.5s ease-out 1s forwards;
  }
  